#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    margin: 1em;
}

button {
    cursor: pointer;
}

.danger {
    color: white;
    background-color: red;
}
.success {
    color: white;
    background-color: green;
}
.info {
    color: white;
    background-color: blue;
}